* {
    margin: 0px;  
    background-color: black; 
}

#clock {
    position: fixed;
    top: 30%;
    left: 20%;
    font-family: "Orbitron", sans-serif;
    font-size: 10rem;
    color: chartreuse;
}